:root {
  --color-primary-darkest: hsl(198, 99%, 18%);
  --color-primary-darker: hsl(198, 99%, 24%);
  --color-primary-dark: hsl(198, 99%, 34%);
  --color-primary: hsl(196, 59%, 62%);
  --color-primary-light: hsl(198, 99%, 75%);
  --color-primary-lighter: hsl(198, 99%, 85%);
  --color-primary-lightest: hsl(198, 99%, 98%);

  --color-secondary-darkest: hsl(198, 99%, 5%);
  --color-secondary-darker: hsl(198, 99%, 24%);
  --color-secondary: hsl(198, 99%, 30%);

  --color-tertiary: hsl(2, 74%, 60%);

  --color-neutral-darkest: hsl(213, 12%, 5%);
  --color-neutral-darker: hsl(210, 11%, 22%);
  --color-neutral-dark: hsl(210, 9%, 31%);
  --color-neutral-mid-darker: hsl(210, 7%, 56%);
  --color-neutral-mid-dark: hsl(210, 11%, 71%);
  --color-neutral-mid: hsl(210, 14%, 83%);
  --color-neutral-mid-light: hsl(210, 14%, 89%);
  --color-neutral-light: hsl(210, 15%, 92%);
  --color-neutral-lighter: hsl(210, 17%, 95%);
  --color-neutral-lightest: hsl(210, 14%, 97%);
}

$color-primary: --color-primary;
$color-secondary: hsl(198, 99%, 30%);

$color-success: hsl(172, 38%, 57%);
$color-error: hsl(2, 74%, 60%);
$color-warning: hsl(39 ,100%, 50%);
$color-info: hsl(192, 60%, 49%);

$color-cover-vertical: linear-gradient(0deg, #000A0F, transparent);
$color-cover-horizontal: linear-gradient(90deg,  #000A0F, #000a0fd9 20%, transparent 88%);
$color-background-app: #000A0F;
